# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# UI (next.js and typescript) specific in the 'ui' directory

# dependencies
ui/node_modules/
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# local env files
ui/.env*.local

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts

# SERVER (FastAPI) specific in the 'server' directory

# dependencies
server/**/venv/     # Virtual environment
server/**/__pycache__/
server/**/db/       # Database 
server/.env

# Python cache files
server/*.pyc
server/*.pyo
server/*.egg-info

# FastAPI specific
server/db.sqlite3      # If using SQLite as database

# Common misc items
.DS_Store
*.pem
