# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# UI (next.js and typescript) specific in the 'ui' directory

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Common misc items
.DS_Store
*.pem
